@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+DK+Loopet:wght@100..400&display=swap');

body {  
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: black;
    color: white;
    text-align: center;
    padding: 30px;
}

#arrows {
    display: flex;
    justify-content: space-between;
}

#level, #x {
    color: rgb(184, 181, 181);
}

#container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    padding: 20px 0;
    margin-top: 77px;
}

.cardh {
    width: 90vw;
    height: 90vw;
    max-width: 370px;
    max-height: 370px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
}

.piece {
  width: 100%;
  height: 100%;
  background-image: url('../photos/picture4.jpg');
  background-size: 400% 400%;
  cursor: pointer;
}

.flipped {
    transform: rotateY(180deg);
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
}

.front {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2px;
    background: #000;
}

.back {
    background: #ffe4e1;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: justify;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #000;
}

.sala {
    display: none;
    margin-top: 30px;
}

.visible {
    display: block;
}

input {
    padding: 8px;
    font-size: 18px;
    border-radius: 10%;
    margin: 20px;
}

button {
    padding: 10px;
    font-size: 18px;
    background: #f07575;
    color: white;
    border: none;
    border-radius: 10%;
    cursor: pointer;
}

button:hover {
    background: #e63900;
}

a {
    text-decoration: none;
    color: white;
}